body {
    background-image: url('https://img.freepik.com/free-photo/white-alarm-clock-yellow-green-background-flat-lay_169016-30337.jpg?t=st=1715077810~exp=1715081410~hmac=f7b4538962ec27526c93cf8726a5e05ffff68798613ce6139f7947548b68c3a1&w=740'); /* Replace 'background.jpg' with your image path */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

#display {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff; /* Text color */
    border-radius: 50%; /* Make the box round */
    width: 200px; /* Adjust width and height as needed */
    height: 200px; /* Adjust width and height as needed */
    background-color: #000; /* Black background color */
    line-height: 200px; /* Center text vertically */
    margin: 0 auto 20px; /* Center horizontally and add bottom margin */
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    border: 2px solid #001f3f; /* Navy blue border */
    background-color: #001f3f; /* Navy blue background */
    color: #fff; /* Text color */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer */
}

button:hover {
    background-color: #003366; /* Darker navy blue on hover */
    border-color: #003366; /* Darker navy blue border on hover */
}
